.row {
  display: flex;
}

.row > form {
  flex: 1 0 50%;
}

.form {
  padding-top: 4px;
}

.form > .field:last-of-type {
  margin-bottom: 24px;
}

.field {
  margin: 24px 0 16px;
}

.field > label,
.field > input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.field > label {
  display: inline-block;
  min-width: 150px;
  margin-right: 16px;
  font-weight: 600;
}

.field > input {
  padding: 2px 6px;
}

.field > input:read-only {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.message,
.warning {
  margin: 24px 0;
  min-width: 355px;
  max-width: 450px;
  min-height: 36px;
  opacity: 1;
  background-color: rgb(167, 255, 177, 0.5);
  border-radius: 2px;
  padding: 8px 16px;
  transition: all 0.6s ease;
}

.warning {
  background-color: rgba(253, 244, 120, 0.5);
}

.actions > button + button {
  margin-left: 16px;
}
