.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6455a2;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.p {
  color: #fff;
}

.link {
  color: #d2c7ff;
  border-bottom: 1px solid #d2c7ff;
  transition: all 0.3s linear;
}

.link:hover,
.link:focus {
  color: #a690ff;
  border-bottom-color: #a690ff;
}
