.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6455a2;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}
