.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}

.link {
  color: #6c47ff;
  border-bottom: 1px solid #6c47ff;
  transition: all 0.3s linear;
}

.link:hover,
.link:focus {
  color: #a690ff;
  border-bottom-color: #a690ff;
}
