.container {
  max-width: 45em;
  margin: 0 auto;
  text-align: center;
}

.container > p {
  font-size: 18px;
  line-height: 1.4;
}

.title {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 600;
}

.list {
  text-align: left;
}

.list > li {
  margin-bottom: 10px;
}

.link {
  color: #6c47ff;
  border-bottom: 1px solid #6c47ff;
  transition: all 0.3s linear;
}

.link:hover,
.link:focus {
  color: #a690ff;
  border-bottom-color: #a690ff;
}
