.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.oauth {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p { 
    color: hsl(141, 98%, 35%); 
    font-family: 'Open Sans', sans-serif; font-size: 24px; 
    font-weight: 500; 
    line-height: 32px; 
    margin-left: 10px;
}

.title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 600;
  }

.description {
    margin-top: 0.5rem;
    color: #808080;
    line-height: 1.4;
  }