.form {
  max-width: 500px;
  padding-top: 8px;
}

.field {
  display: flex;
  align-items: baseline;
  margin: 24px 0 16px;
}

.field > label,
.field > input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.field > label {
  flex: 0 1 40%;
  font-weight: 600;
  margin-right: 16px;
}

.field > input {
  min-width: 250px;
  padding: 2px 6px;
}

.list {
  flex: 0 0 57%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list > li {
  margin-top: 8px;
}

.rules {
  display: flex;
  justify-content: flex-end;
}

.rules li::before {
  content: '✔';
  display: inline-block;
  margin: 0 6px 0 0;
  color: #bebebe;
  transition: color 0.3s linear;
}

.rules .pass::before {
  color: #059f05;
}

.message {
  margin-top: 24px;
  width: 500px;
  min-height: 36px;
  opacity: 1;
  background-color: rgb(167, 255, 177, 0.5);
  border-radius: 2px;
  padding: 8px 16px;
  transition: all 0.6s ease;
}

.message:empty {
  opacity: 0;
  min-height: 0;
}
