.container {
  max-width: 45em;
  margin: 0 auto;
}

.container > p {
  font-size: 18px;
  line-height: 1.4;
}

.field {
  margin: 24px 0 16px;
}

.field > label,
.field > input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.field > label {
  font-weight: 600;
  margin-right: 16px;
}

.field > input {
  padding: 2px 6px;
}

.button {
  padding: 8px 16px;
  background-color: #6c47ff;
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.button:hover,
.button:focus {
  background-color: #987eff;
}

.button[disabled] {
  background-color: #bebebe;
  cursor: not-allowed;
}