.field {
  margin: 24px 0 16px;
}

.field > label,
.field > input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.field > label {
  font-weight: 600;
  margin-right: 16px;
}

.field > input {
  padding: 2px 6px;
}
