.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  margin: 24px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.field > label,
.field > input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.field > label {
  font-weight: 600;
  margin: 8px;
}

.field > input {
  padding: 2px 6px;
  margin: 4px;
}

.button {
  padding: 8px 16px;
  background-color: #6c47ff;
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
}

.button:hover,
.button:focus {
  background-color: #987eff;
}

.button[disabled] {
  background-color: #bebebe;
  cursor: not-allowed;
}

.img {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.names {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

.profileImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
